.mainPage {
    border: groove;
    width: 500px;
}

.gameField {
    width:163px;
    height:163px;
    margin: 2px 0px;
    padding: 0px 0px;
    font-size: 5em;
}

#popupMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#playerList {
    height: 500px;
}

#statusMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#authPage{
    display:none;
}

#gameMenu{
    display:none;
}

#gameHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: 2px 2px 2px black, 0 0 1em red; 
    color: black; 
    font-size: 2em; 
}

#buttonClose{
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 235px;
    margin-top: -2px;
    font-size: 0.75em;
}

#statusLabel2{
    margin-left: 50px;
}

#authentication{
    display: flex;
}

#room{
    display: none;
}

#chat{
    display: none;
}

#changepass{
    display: none;
}

#forgotpass{
    display: none;
}

#admintools{
    display: none;
}

/* Custom modal change pass */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.result:hover,
.result:focus,
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}